    /* HeroDetailComponent's private CSS styles */
    /* Box */
    
    .box {
        background: #fff;
        border-radius: 6px;
        box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
        padding: 2em;
        margin-top: 20px;
    }
    
    .box.feature {
        padding: 0;
    }
    
    .box.feature .inner {
        padding: 4em 2em 3em 2em;
    }
    
    .box.feature h2 {
        font-size: 1.35em;
    }
    
    .box.feature p {
        margin: 0;
    }
    
    .box.feature .image {
        position: relative;
        margin: 0;
    }
    
    .box.feature .image img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    /* Image */
    
    .image {
        display: inline-block;
        outline: 0;
    }
    
    .image img {
        display: block;
        width: 100%;
        border-radius: 8px;
    }
    
    .image.fit {
        display: block;
        width: 100%;
    }
    
    .image.featured {
        display: block;
        width: 100%;
        margin: 0 0 2.5em 0;
    }
    
    .image.left {
        float: left;
        margin: 0 2em 2em 0;
    }
    
    .image.centered {
        display: block;
        margin: 0 0 2.5em 0;
    }
    
    .image.centered img {
        margin: 0 auto;
        width: auto;
    }