<!-- <div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label for="hero-name">Hero name: </label>
        <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>
</div> -->
<div id="features-wrapper">
    <div class="container">
        <div class="row" *ngIf="hero">
            <div class="col-5 col-12-medium">
                <!-- Box -->
                <section class="box feature">
                    <!-- <a routerLink="/detail/{{hero.id}}" class="image featured"><img src="assets/alteregos/{{hero.alterEgo | lowercase | replace: ' ':'-'}}.png" alt="" /></a> -->
                    <a routerLink="/detail/{{hero.id}}" class="image featured"><img src="{{alterEgoPic}}" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>{{hero.alterEgo}}</h2>
                            <p>{{hero.ocuppation || "Occupation unknown"}}</p>
                        </header>
                        <p>{{hero.description}}</p>
                    </div>
                </section>
            </div>
            <div class="col-5">
                <label for="hero-name">Hero name: </label>
                <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
                <label for="hero-name">Alter ego: </label>
                <input id="hero-name" [(ngModel)]="hero.alterEgo" placeholder="alterEgo">
            </div>
        </div>

    </div>
</div>
<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>