<h2>My heroes</h2>
<div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />

    <!-- (click) passes input value to add() and the clears the input -->
    <button class="add-button" (click)="add(heroName.value); heroName.value=''">
        Add hero
    </button>
</div>
<!-- <ul class="heroes">
    <li *ngFor="let hero of heroes">
        <img class="img-responsive" src="assets/heroes/captain-america.jpeg" />
        <a routerLink=" /detail/{{hero.id}} ">
            <span class=" badge ">{{hero.id}}</span> {{hero.name}} </a>

        <button class=" delete " title=" delete hero " (click)=" delete(hero) ">x</button>
    </li>
</ul> -->
<div id="features-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-4 col-12-medium">
                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="assets/heroes/captain-america.jpeg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Put something here</h2>
                            <p>Maybe here as well I think</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="assets/heroes/captain-america.jpeg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>An interesting title</h2>
                            <p>This is also an interesting subtitle</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="assets/heroes/captain-america.jpeg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>An interesting title</h2>
                            <p>This is also an interesting subtitle</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="assets/heroes/captain-america.jpeg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>An interesting title</h2>
                            <p>This is also an interesting subtitle</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="assets/heroes/captain-america.jpeg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>An interesting title</h2>
                            <p>This is also an interesting subtitle</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="assets/heroes/captain-america.jpeg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>An interesting title</h2>
                            <p>This is also an interesting subtitle</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>