<div id="search-component">
  <label for="search-box">🔍 Hero Search</label>
  <input
    #searchBox
    id="search-box"
    (input)="search(searchBox.value)"
    placeholder="Search for a hero..."
  />

  <div class="searching-indicator" *ngIf="searching">
    <span class="searching-spinner"></span> Buscando...
  </div>

  <ul class="search-result" *ngIf="!searching">
    @for (hero of heroes$ | async; track hero) {
      <li>
        <a routerLink="/detail/{{ hero.id }}"> 🦸 {{ hero.name }} </a>
      </li>
    }
  </ul>
</div>
